.transaction-history {
	grid-area: transaction-history;
	width: 100%;
	min-height: 326px;
	border: 1px solid #cbd5e1;
	border-radius: 12px;
	padding-left: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 24px;
	// margin-top: 32px;
}

// @media screen and (min-width: 768px) {
// 	.transaction-history {
// 		width: 55%;
// 		min-height: 424px;
// 		padding-top: 24px;
// 		padding-left: 28px;
// 		padding-right: 41px;
// 		padding-bottom: 40px;
// 		margin-top: 0px;
// 		margin-left: 32px;
// 	}
// }

.delete-container {
	display: flex;
	width: 10%;
}

.delete-button {
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

.delete-img {
	background: transparent;
	width: 20px;
	height: 20px;
	align-self: center;
	border: none;
	outline: none;
}

@media screen and (min-width: 768px) {
	.delete-img {
		margin-right: 24px;
	}
}

/*****************************************************/


table {
	padding-left: 0;
	margin: 0px;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

	thead {
		> tr {
			align-items: center;
			height: 48px;
			border: 1px solid #cbd5e1;

			th {
				color: #334155;
				font-family: 'Roboto';
				font-size: 12px;
				font-weight: 500;
				width: 30%;
				border-right: none;
			
				@media screen and (min-width: 768px) {
					font-size: 16px;
				}
			}
		}
	}

	
	tbody tr {


		border-bottom: 1px solid #cbd5e1;
		border-right: 1px solid #cbd5e1;
		border-left: 1px solid #cbd5e1;
		align-items: center;

		td {
			color: #475569;
			font-family: 'Roboto';
			font-size: 12px;
			width: 30%;
			text-align: center;
			word-wrap: break-word;
		
			@media screen and (min-width: 768px) {
				font-size: 14px;
			}
		}
	}
}


